@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
 
}

ul li {
  list-style: none;
}

img {
  vertical-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*конец обнуление*/
/*переменные css*/
:root{
  --content-size:1280px;
  --wild-text: 	#D50000;
  --header-height:75px;
  --shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
body {
font-family: 'Oswald', sans-serif;
height:auto;
width:100%;
}
h2{
  font-size: 1.5rem;
}
/*стили таблиц*/
td, th{
  padding: 5px; 
  border-radius: 4px;
}
th{
  text-align: left;
  background: rgb(0, 128, 128,0.2);
}
td{
  text-align: left;
  background: rgb(0, 128, 128,0.1);
}
/*знак рубля*/
.price {
  font-family: 'PT Sans', serif;
  }
/*общая оболочка*/
.all_content_wrapper{
    margin: 0 auto;
    max-width: var(--content-size);
    background:rgb(0, 128, 128, 0.03);
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;    
}
.help-div{
  height: var(--header-height);
}
/*шапка*/
header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  width: 100%;
  max-width: var(--content-size);
  text-align: center;
  left: 50%;
  font-size: 1.3rem;
  transform: translate(-50%);
  background:#fff;
  position: fixed;
  padding: 5px;
  z-index: 12;
  align-items: center;
  overflow: hidden;
}
/*контейнер логотипа в шапке*/
header .logo-box {
  max-width: 100%;
  height: auto;
  padding: 5px;
 
}
/*логотип в шапке*/
.logo-box img{
  max-height: 60px;
  object-fit: contain;
  }
  /*значок телефона в шапке*/
header .phone-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}
header .phone-box :nth-child(1){
  justify-self: flex-end;
}
/*контейнер для номеров телефона в шапке*/
header .phones-wrapper{
  justify-self: flex-start;  
}
/* телефоны в шапке*/
header .header-phone{
  padding: 3px;
}
/*оболочка главной страницы*/
.main-page-all-wrapper{
  position: relative;
  width:100%;
  height: 100vh;
}
/*оболочка навигации на главной странице*/
.main-page-nav{
  position: absolute;
  left:10%;
  top: 35%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size:1.5rem;
}
/*элементы навигации главной страницы*/
 .nav-item{
  border-left: 1px solid rgb(0, 128, 128);
  padding:10px;
  border-radius: 4px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
.main-page-nav .nav-item:hover{
  background: teal;
  color: #fff;
  transition:300ms ease all;
}
/*стили для слогана*/
.main-page-slogan{
  font-size:60px;
  color: teal;
  font-weight: bold;
}
/*стили для картинки на главной*/
.main-page-img-wrapper{
  position: absolute;
  width:600px;
  height:600px;
  right:10px;
  top:150px;
  border-radius:50%; 
}
.main-page-img-wrapper img{
  border: 1px solid black;
  border-radius:50%;
  object-fit:cover;
  width:100%;
  height: 100%;
  
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}

/*кнопка hot*/
.custom-btn {
  width: 90px;
  height:90px;
  color: #fff;
  border-radius: 5px;
  padding:  25px;
  font-size: 1.4rem;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border-radius:50%;
}
.btn-5 {
  position: absolute;
  right: 85%;
  bottom:10%;
  width: 125px;
  height:125px;
  padding: 0;
  border: none;
background: var(--wild-text);
}
.btn-5:hover {
  color: var(--wild-text);
  background:white;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--wild-text);
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*список квартир*/
.logo-title{
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}
/*контейнер списка объектов*/
.all-list-page-wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr;

  /* justify-items: center; */
}
.list-wrapper {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.apartments-container{
display: grid;
grid-template-columns: repeat(3,1fr);
column-gap:10px;
row-gap: 30px;
justify-items: left;
align-items: center;
/* padding: 25px; */
}
.list-page-nav{
  position: fixed;
  right: calc(100vw / 5 );

}
.list-page-nav .nav-item{
  margin-bottom: 5px;
  border-left: 1px solid rgb(0, 128, 128);
  padding:10px;
  border-radius: 4px;
  font-size: 1.3rem;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
.nav-item:hover{
  background: teal;
  color: #fff;
  transition:300ms ease all;
}
/*контейнер одиночного объекта в списке*/
.apartment-all-page-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.apartment-container{
  border-radius:4px;
  border:1px solid rgb(0, 0, 0, 0.2);
  box-shadow:var(--shadow);
  padding:15px;
  
}
.apartment-container:hover{
  background-color:rgb(0, 128, 128,0.1); 
}
/*главное фото объкта и цена в списке объектов*/
.img-price-container{
position:relative;
}
.apartment-title{
padding-bottom:10px;
font-size:1.5rem;
}
.img-container{
max-width:250px;
border-radius:4px;
}
.img-container img{
max-width:100%;
height:60%;
border-radius:4px;
object-fit: contain;
}
.price-container{
background:var(--wild-text);
color:white;
padding:10px;
position:absolute;
border-radius:4px;
}
.hot{
  width: 40px;
  height: 40px;
  background:var(--wild-text) ;
  position: absolute;
  border-radius: 50%;
  color: white;
  right: 1px;
  padding: 6px;
  text-align: center;
  
}
/*краткая инфа об объекте*/
.apartment-info-wrapper{
display: grid;
grid-template-columns: 1fr;
justify-items: center;
padding: 10px;
gap: 5px;
font-size: 1.1rem;
background:  rgb(0, 128, 128,0.1);
border-radius: 4px;

}
/* контейнер страницы объекта */
.apartment-page-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* контейнер фотогалерии объекта */
.apartment-image-container{
  max-width: 850px;
  padding: 15px;
}
/* фотогалерея объекта */
.apartment-image-container img{
 width: 100%;
 height:100%;
}
/* контейнер информации об объекте в двух таблицах */
.apartment-table-wrapper{
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.apartment-description{
  padding: 10px;
  max-width: 600px;
  text-align: justify;
  font-size: 1.2rem;
  line-height:1.2;
}
.price-box{
  background:var(--wild-text);
  color:white;
  padding:10px;
  position:absolute;
  border-radius:4px; 
  top: 10px;
  z-index:2;
}
/* swiper */
.object-gallery{
  max-width: 100%;
  height: 600px;
}

.object-gallery .swiper-button-prev::after,.object-gallery .swiper-button-next::after{
  font-size: 30px ;
  color:var(--wild-text);
}

.object-gallery .swiper-pagination-bullet{
  background-color:var(--wild-text);
  width: 20px ;
  height: 20px ;
}
.gallery-image{
  max-width: 100%;
  height: 100%;
  object-fit:contain;
}

