{% extends 'agency/base.html' %}

{% load agency_tags %}

{% block content %}
<div class="all-list-page-wrapper">
    <div class="lists-wrapper">
        <div class="tabs-links">
            <div class="logo-and-title active">
                <img src="{{dacha_icon.image.url}}" alt="{{dacha_icon.note|safe}}">
                <span class="apartment-logo-title"><h2>{{dacha_icon.note|safe}}</h2></span>
            </div>
            <div class="logo-and-title">
                <img src="{{cottage_icon.image.url}}" alt="{{cottage_icon.note|safe}}">
                <span class="apartment-logo-title"><h2>{{cottage_icon.note|safe}}</h2></span>
            </div>
            <div class="logo-and-title">
                <img src="{{land_icon.image.url}}" alt="{{land_icon.note|safe}}">
                <span class="apartment-logo-title"><h2>{{land_icon.note|safe}}</h2></span>
            </div>
            
        </div>
        
        <div class="list-wrapper">
            
            
            <div class="apartments-container active">  
            {% show_apa obj_list_type='outcity' obj_type='Дача'%}
            </div>
            
        
        </div>
        <div class="list-wrapper">
            
            <div class="apartments-container">  
           {% show_apa obj_list_type='outcity' obj_type='Коттедж'%}
            </div>
        
        </div>
        <div class="list-wrapper">
           
            
            <div class="apartments-container">  
            {% show_apa obj_list_type='outcity' obj_type='Земельный участок'%}
            </div>
        
        </div>
    </div>

</div>

{% endblock content %}