

<header>

<a href='{% url "home" %}'><div class="header-items logo-box">  <img  src="{{logo.image.url}}" alt="{{logo.description}}" /></div> </a>
<div class="header-items phone-box">
     <img  src="{{phone_icon.image.url}}" alt="{{phone_icon.title}}" />
     <div class="phones-wrapper">
        {% for cont in contacts %}
        <div class="header-phone">
        {{cont.description}}
        </div>
        {% endfor %}
     </div>

</div>
<div class="header-items header-nav">
   <div class="header-nav-item" data-open="sale">продажа
      <div class="header-open-nav sale-open" data-open="sale">
      {% for incity in in_city_object_type %}
        <a href="{% url 'apartments'%}"><div class="open-nav-item">{{incity.title }}</div></a>
    {% endfor %}
    {% for incity in out_city_object_type %}
        <a href="{% url 'home'%}"><div class="open-nav-item">{{incity.title}}</div></a>
    {% endfor %}
   </div>
   </div>
   <div class="header-nav-item"data-open="rent">аренда
      <div class="header-open-nav rent open" data-open="rent">
         {% for incity in in_city_object_type %}
         {% if incity.title == 'Квартира' or incity.title == 'Комната' %}
           <a href="{% url 'apartments'%}"><div class="open-nav-item">{{incity.title }}</div></a>
         {% endif %}
         {% endfor %}
      </div>
   </div>
   <div class="header-nav-item">услуги</div>
   <div class="header-nav-item contact-link">контакты</div>
</div>

</header>

