{% extends 'agency/base.html' %}
{% load agency_tags %}

{% block content %}

<div class="main-page-all-wrapper">
<div class="hot-objects-wrapper">
    <h2>Горячие предложения</h2>
    <div class="hot-objects-list">
    {% for obj in hot_city_obj %}
    <div class="hot-object-wrapper">
        <a href="{{obj.get_absolute_url}}">
        <div class="hot-object">
        <img style="max-width: 150px;" src="{{obj.image.url}}" alt="{{obj.title}}">
        <div class="hot-info">
        <p>{{obj.title}} </p>
        <p>район {{obj.city_region}} </p>
        <p>{{obj.rooms}} </p>
        <p>{{obj.square}} кв.м </p>
        </div>
        
        
        </div>
    </a>
    {% for type in hot_city_obj_type %}
    {% if type.title != obj.object_type %}
    <a class="hot-more-link" href="{{type.get_absolute_url}}"> <p class="hot-more-link">еще {{type.title}} ></p></a>
    {% endif %}
   {% endfor %}
    </div>
    {% endfor %}
    {% for obj in hot_out_city_obj %}
    <div class="hot-object-wrapper">
        {{obj.title}}
    </div>
    {% endfor %}
    
    </div>   

</div>

 <div class="slogan-img-wrapper"> 
    <div class="main-page-slogan">{{main_page_slogan.note|safe}}</div>
    <div class="main-page-img-wrapper">
        <img src="{{main_page_img.image.url}}" alt="{{main_page_img.title}}">  
    </div>
    <div class="btn-container">
    
    </div>
</div>  

</div>
 

{% endblock content %}



