{% extends 'agency/base.html' %}
{% load agency_tags %}

{% block content %}

<div class="main-page-all-wrapper">
<div class="hot-objects-wrapper">
    <div class="hot-objects-list">
    {% for obj in hot_city_obj %}
    <div class="hot-object-wrapper">
        <a href="{{obj.get_absolute_url}}">
        <div class="hot-object">
        <img style="max-width: 100px;" src="{{obj.image.url}}" alt="{{obj.title}}">
        {{obj.title}} 
        </div>
    </a>
    <a href="">show more</a>
    </div>
    {% endfor %}
    {% for obj in hot_out_city_obj %}
    <div class="hot-object-wrapper">
        {{obj.title}}
    </div>
    {% endfor %}
    
    </div>   

</div>

 <div class="slogan-img-wrapper"> 
    <div class="main-page-slogan">{{main_page_slogan.note|safe}}</div>
    <div class="main-page-img-wrapper">
        <img src="{{main_page_img.image.url}}" alt="{{main_page_img.title}}">  
    </div>
    <div class="btn-container">
    
    </div>
</div>  

</div>
 

{% endblock content %}



