{% extends 'agency/base.html' %}
{% load agency_tags %}

{% block content %}

<div class="main-page-all-wrapper">
    
    <div class="main-page-slogan">{{main_page_slogan.note|safe}}</div>
    <div class="main-page-img-wrapper">
        <img src="{{main_page_img.image.url}}" alt="{{main_page_img.title}}">
        <button class="custom-btn btn-5"><span>{{main_page_hot_button.note|safe}}</span></button>
    </div>

    <h2>Поиск квартир</h2>
<form action=" "class="search-form" method="POST" name="searched">
    {% csrf_token %}
    {% for f in form %}
    <ul>
        <li> <label for = "{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</li> 
        <li class="form-error">{{ f.errors }}</li>
    </ul>
    {% endfor %}
    <button class="submit" type="submit">Найти</button>
</form>
<div class="searching-wrapper">
{% for o in obj_list %}
<div class="searched-obj-wrapper">
<div class="searched-obj">{{o.title}}</div>
<img src="{{o.image.url}}" alt="{{o.title}}">

</div>
{% endfor%}
</div>
</div>
 

{% endblock content %}



