{% extends 'agency/base.html' %}


{% block content %}
<h1>Регистрация</h1>
<form action=" " class="register form" method="POST" name="register" >
    {% csrf_token %}
      <div class="reg-fields-wrapper">
    {% for f in form  %}

        <div> <label for = "{{ f.id_for_label }}">{{ f.label }}</label>{{ f }} </div>
        <div class="form-error">{{ f.errors }}</div>

    {% endfor %}
    </div>
        <button class="submit" type="submit">Зарегестрироваться</button>
</form>
{% endblock content %}

