{% extends 'agency/base.html' %}
{% load agency_tags %}

{% block content %}

<div class="all-searched-wrapper">
 <div class="forms-wrapper"> 
<form action=" "class="search-form" method="POST" name="searched">
    {% csrf_token %}
    <h2>Поиск объекта в городе</h2>
    {% for f in form %}
    <ul>
        <li> <label for = "{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</li>
        <li class="form-error">{{ f.errors }}</li>
    </ul>
    {% endfor %}
    <button class="submit" type="submit">Найти</button>
</form>

</div> 


<div class="searched-wrapper">
{% for o in obj_list %}
<a href="{{o.get_absolute_url}}">
    <div class="searched-obj-wrapper">
        <div class="searched-obj-price">{{o.price}}</div>
        <div class="searched-obj">{{o.title}}</div>
        <img src="{{o.image.url}}" alt="{{o.title}}">
        <div class="searched-obj">{{o.object_adress}}</div>
        <div class="searched-obj">{{o.square}} кв.м</div>
        
    </div>
</a>
{% empty %}
<div class="non-searched"><h2>Нет объектов</h2></div>
{% endfor%}
</div>
</div>
{% endblock content %}